.button-wrapper {
    height: 3em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.6em;
    background-color: rgba(255,255,255,.50);
    color: rgba(2,0,36,1);
    flex:1;
    margin:1px
}

.operator {
    background-color: white;
    opacity:.9;
    color: rgba(2,0,36,1)
}

.button-wrapper:hover { background-color: rgba(2,0,36,1); color:paleturquoise }
.operator:hover { color:paleturquoise }
.button-wrapper:active { background-color: white; color:paleturquoise }
.operator:active { color:paleturquoise }